<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %> 
</head>
<body>
<% include ../partials/header %>

<div class="container-fluid bg-3 text-center">  
  <h3><%= page %></h3><br>  
  <div class="row">
    <div class="col-sm-4"> 
      <p></p>
    </div>
    <div class="col-sm-4 form-background border-radius border-right">
      <form action="/submit_contact/" method="post">
        <!-- <legend class="font-weight">Contact Form</legend> -->
        <input type="text" class="form-control border-radius" name="name" placeholder="Name" required><br>
        <input type="email" class="form-control border-radius" name="email" placeholder="E-mail" required><br>
        <input type="text" class="form-control border-radius" name="phone" placeholder="Mobile" required><br>
        <textarea class="form-control border-radius" required>Message</textarea></p><br>
        <input type="submit" class="btn btn-primary border-radius button-width" name="Submit">
      </form>
    </div>
    <div class="col-sm-4"> 
      <p></p>
    </div>
  </div>
</div>

</body>
<% include ../partials/footer %>
</html>
